* {
    padding: 0;
    margin: 0;
}

.active {
    border: 2px solid black;
}

#content {
    width: 100%;
    height: 100vh;   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: aliceblue;
}

header {
    background-color: burlywood;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 20%;
    height: 80%;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100%;
    row-gap: 10px;
    column-gap: 10px;
}

.item {
    background-color: antiquewhite;
}