* {
    padding: 0;
    margin: 0;
}

#content {
    width: 100%;  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    margin-top: 100px;
}

.home, .gallery {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    flex-direction: column;
    
}

.home {
    background: url('./pizza.jpg');
    background-size: cover; 
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 20px;
    color: white;
}

img {
    width: 50%;
    height: 80%;
    object-fit: cover;
}

footer {
    display: flex;
    height: 300px;
    width: 100%;
    background-color:rgb(49, 52, 52);
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: antiquewhite;
}

header {
    background-color: rgb(49, 52, 52);
    width: calc(100% - 100px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: auto;
    color: white;
}

nav {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

@media screen and (max-width: 600px) {
    header {
        height: 50%;
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        height: 300px;
    }
    
}

.menu {
    padding: 30px;
    outline: 2px dotted red;
    gap: 20px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100%;
    row-gap: 10px;
    column-gap: 10px;
}

.item {
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
}

a {
    cursor: pointer;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a.active {
    color: burlywood;
}

